<div class="containter">

    <div class="row">
        <div class="col-sm-5">
            <svg width="480" height="480">
                <rect x="0" y="0" height="480" width="480" fill="none" stroke="black" stroke-width="2"/>
                <rect x="{{240-gc.info.B*10}}" y="{{240-gc.info.B*10}}" height="{{gc.info.B*10}}" width="{{gc.info.B*10}}" style="fill: #00c;"
                />
                <rect x="240" y="{{240-gc.info.R*10}}" height="{{gc.info.R*10}}" width="{{gc.info.R*10}}" style="fill: #c00;" />
                <rect x="{{240-gc.info.G*10}}" y="240" height="{{gc.info.G*10}}" width="{{gc.info.G*10}}" style="fill: #0a0;" />
                <rect x="240" y="240" height="{{gc.info.Y*10}}" width="{{gc.info.Y*10}}" style="fill: #dd0;" />
                <line x1="240" y1="40" x2="240" y2="440" stroke="black" stroke-width="1"/>
                <line x1="40" y1="240" x2="440" y2="240" stroke="black" stroke-width="1"/>
                <text x="10" y="25" font-size="20">Engineer</text>
                <text x="390" y="25" font-size="20">Manager</text>
                <text x="10" y="470" font-size="20">Service</text>
                <text x="420" y="470" font-size="20">Sales</text>
            </svg>
        </div>
        <div class="col-sm-2">
            <h3> <strong> Percentages</strong></h3>
            <p><strong>Blue: {{gc.percent.b}}% </strong><button class="btn btn-primary" ng-click="gc.show.b='b'; gc.show.none=false">more info</button></p>
            <p><strong>Red: {{gc.percent.r}}% </strong><button class="btn btn-danger" ng-click="gc.show.r='r'; gc.show.none=false">more info</button></p>
            <p><strong>Green: {{gc.percent.g}}% </strong><button class="btn btn-success" ng-click="gc.show.g='g'; gc.show.none=false">more info</button></p>
            <p><strong>Yellow: {{gc.percent.y}}% </strong><button class="btn btn-warning" ng-click="gc.show.y='y'; gc.show.none=false">more info</button></p>
            <p ng-if="gc.percent.x"><strong>Unanswered: {{gc.percent.x}}%</strong></p>
        </div>
        <div class="col-sm-5">
<info-component ng-hide="gc.show.none" which="gc.show"></info-component>
        </div>
    </div>
</div>