<div class="containter">

    <div class="row">
        <div class="col-sm-5">
            <svg width="480" height="480">
                <rect x="{{240-gc.info.B*10}}" y="{{240-gc.info.B*10}}" height="{{gc.info.B*10}}" width="{{gc.info.B*10}}" style="fill: #00c;"
                />
                <rect x="240" y="{{240-gc.info.R*10}}" height="{{gc.info.R*10}}" width="{{gc.info.R*10}}" style="fill: #c00;" />
                <rect x="{{240-gc.info.G*10}}" y="240" height="{{gc.info.G*10}}" width="{{gc.info.G*10}}" style="fill: #0a0;" />
                <rect x="240" y="240" height="{{gc.info.Y*10}}" width="{{gc.info.Y*10}}" style="fill: #dd0;" />
            </svg>
        </div>
        <div class="col-sm-2">
            <h3> <strong> Percentages</strong></h3>
            <p><strong>Blue: {{gc.percent.b}}% </strong><button class="btn btn-primary" ng-click="gc.show.b='Blue'; gc.show.none=false">more info</button></p>
            <p><strong>Red: {{gc.percent.r}}% </strong><button class="btn btn-danger" ng-click="gc.show.r='Red'; gc.show.none=false">more info</button></p>
            <p><strong>Green: {{gc.percent.g}}% </strong><button class="btn btn-success" ng-click="gc.show.g='Green'; gc.show.none=false">more info</button></p>
            <p><strong>Yellow: {{gc.percent.y}}% </strong><button class="btn btn-warning" ng-click="gc.show.y='Yellow'; gc.show.none=false">more info</button></p>
            <p ng-if="gc.percent.x"><strong>Unanswered: {{gc.percent.x}}%</strong></p>
        </div>
        <div class="col-sm-5">
<info-component ng-hide="gc.show.none" which="gc.show"></info-component>
        </div>
    </div>
</div>