<form ng-submit="qc.quizTally(qc.quiz)">
<div class="container">

<div class="row">

<div ng-repeat="question in qc.quiz track by $index">
    <div class="card col-sm-3" ng-class="{'selected': question.answer}">

    <div ng-repeat="block in question.choices">
        <input name="{{question.id}}" type="radio" value="{{block.color}}" ng-model="question.answer">
        <label for="{{block.id}}">{{block.ans}}</label>
    </div>
    </div>
</div>
<button class="btn btn-warning" type="submit">Submit Quiz</button>
</div>
</div>
</form>

<graph-component info="qc.answers"></graph-component>